In [2]:
import pandas as pd
from pathlib import Path
import json

df = pd.read_csv("src/data/population_by_country.tsv", sep="\t", header=None, thousands=',')
df.columns = ['country','population']
df.population = df.population/1000

stats = {"stats": dict(zip(df.country, df.population)),
 "desc": "Guess 3 countries whose population sums to",
 "unit": "million",
 "aim": 180,
 "inner_bull": 5,
 "outer_bull": 10}
Path("data/info.json").write_text(json.dumps(stats))

4724

In [10]:
import pandas as pd
from pathlib import Path
import json

df = pd.read_csv("src/data/life_expectancy.csv", sep=",")
# df.columns = ['country','population']

# df.population = df.population/1000

stats = {"stats": dict(zip(df.Country, df['Life Expectancy (both sexes)'])),
 "desc": "Guess 3 countries whose life expectancy sums to",
 "unit": "years",
 "aim": 180,
 "inner_bull": 5,
 "outer_bull": 10}
Path("src/data/info.json").write_text(json.dumps(stats))
df

,Rank,Country,Life Expectancy (both sexes),Females Life Expectancy,Males Life Expectancy
0,1,Hong Kong,85.77,88.39,83.10
1,2,Japan,85.00,88.03,81.99
2,3,South Korea,84.53,87.40,81.44
3,4,French Polynesia,84.31,86.74,82.03
4,5,Switzerland,84.23,86.06,82.34
...,...,...,...,...,...
196,197,Lesotho,58.22,60.87,55.44
197,198,Central African Republic,57.90,59.80,55.73
198,199,South Sudan,57.85,60.86,54.87
199,200,Chad,55.43,57.39,53.54
200,201,Nigeria,54.78,55.12,54.45

In [6]:
!cp src/data/info.json src/data/countries.json

In [4]:
df = pd.DataFrame(zip(['Songs for Fin volume 3', '

info.json

In [3]:
!ls src/data/

countries.json      info.json           life_expectancy.csv